body {
    background-color: #ffe4c4;
    margin: auto;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
form {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#day {

    padding: auto;
    display: inline-flex;
    gap: 115px;

}
#displayResult {
    
    padding-top: 80px;
    font-size: large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;

}
#result{
    
    display: inline-flex;
    padding-top: 60px;
}

